.start{
    display: flex;
}
.none{
    display: none; 
}
.userboxdiv{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.machineboxdiv{
    display: flex;
    flex-direction: row;
}
.error{
    background: yellow;

}
.baloon{
    
    /* background: #7e57c2; */
    font-family: 'open sans';
    font-size: 0.85em;
    /* line-height: 1.6em;   */
    border-radius: 15px;
    margin-bottom: 5%;
    width: 70%;
    height: auto;
    color: #fff;
    padding: 20px;
    /* position: relative; */
    margin-top: 30px;
   
    align-items: end;
}
@keyframes animationuser {
    0% {
        transform: translateX(0px);        
    }
    70% {
        transform: translateX(-35px);        
    }
}

.userbaloon{
    /* background-image: radial-gradient(circle at 116.45% 74.18%, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #0051de 100%); */
    background-color: #3c78f2;
    margin-right: 2% ;
    animation: animationuser 2s;
    box-shadow: -5px 5px 1.5em black;

}
@keyframes animationmachine {
    0% {
        transform: translateX(0px);        
    }
    70% {
        transform: translateX(35px);        
    }
   
    
}
.machinebaloon{
    /* background-image: radial-gradient(circle at -19.64% 37.72%, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #0051de 100%);  */
    background-color: #3c78f2;
    /* background-color: */
    opacity: 100%;
    box-shadow: 5px 5px 1.5em black;
    margin: right; 
    margin-left: 2%;
    right: 2px;
    /* background: forestgreen;    */
    animation: animationmachine 2s;
    

}

.message{
    width: 100%;
    /* color: black; */
    border-color: black;
    text-shadow: 1px 1px 2px #000000;
    font-size: large;
}
.usermessage{
    align-items: flex-end;
    text-align: end;
}
.machinemessage{
    text-align: start;
}

.elementsfooter{
    /* margin-top: 20%; */
    margin-left: 2%;    
    /* background: firebrick; */
    margin-right: 2% ;
    display: flex;
    flex-direction: row;
    width: 100%;

  
    

}
.input{
  /* margin-top: -2%; */
  width: 70%;
  height: 35px;
  border-radius: 10px;
  border-color: #fff;
  border-top-color: #fff;
  border-right-color: #fff;
  border-left-color: #fff;
  border-style: solid;
}
.button{
  margin-left: 2%;
  width: 30%;
  height: 41px;
  border-radius: 8px;
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  
    
}
.containerfooter{
  display: flex;
  flex-direction: row-reverse;
}