.viewmessage {
    
    background-color: aquamarine;
    margin-left: 2%;
    margin-right: 2%;
    /* height: 450px; */
    margin-top: 2%;
    margin-bottom: 5%;
    /* display: block; */
    /* overflow: scroll x; */
    /* overflow-y: scroll auto;
    overflow-x: none; */
    /* display: flex;
    flex-direction: column; */

  }

  .elementsfooter{
    /* margin-top: 20%; */
    margin-left: 4%;    
    /* background: firebrick; */
    margin-right: 2% ;
    display: flex;
    flex-direction: row;
    width: 100%;

  
    

}
.input{
  /* margin-top: -2%; */
  width: 70%;
  height: 35px;
}
.button{
  margin-left: 2%;
  width: 30%;
  height: 41px;
  
    
}
.containerfooter{
  display: flex;
  flex-direction: row-reverse;
}