.viewmessage {
    
    background-color: #2C4371;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 92.9vh;
    border-color: #92a8d1;
  }

  .buttonsubimit{
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    height: 40px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 20%;

  }
  